{% extends 'base.html.twig' %}
{% block body %}
	{{ parent() }}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Role</th>
						</tr>
					</thead>
					<tbody>
						{% for value in users %}
						<tr>
							<td>{{ value.firstname }}</td>
							<td>{{ value.lastname }}</td>
							<td>{{ value.roleName }}</td>
						</tr>
						{% else %}
							<tr>
								<td colspan="4">No Record Found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
