{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="col-md-4 col-md-offset-4">
{{ form_start(form,{'attr' : {'class': 'form-style','novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary" formnovalidate>Create Task</button>
{{ form_end(form) }}
</div>
{% endblock %}